.content {
    background-color: white;
    width: 100vw;
    height: calc(100vh - 60px);
    padding-inline: 0;
    margin: 0;
}
.cuadro-text {
    width: 350px;
    height: 400px;
    justify-content: center;
}
.img {
    float: left;
    width: 350px;
    height: 400px;
}
