$dark-background__color: #0f1014;
$graydark-background__color: #191919;
$cream-background__color: #f5efe1;
$light-font__color: #f7f7f7;
$yellow-font__color: rgb(242, 198, 77);
$gray-font__color: #a6a6a6;
$white-font__color: #fff;
$dark-font__color: #1e1e1e;
