body a.button {
    display: inline-block;
    color: #fff;
    background-color: #47ea4e;
    text-align: left;
    padding: 10px 40px;
    cursor: pointer;
    vertical-align: middle;
    text-decoration: none;
    transition: all 0.2s linear;
    margin-bottom: 17px;
    border: 2px solid #47ea4e;
    border-radius: 50px;
    font-size: 14px;
    letter-spacing: 2px;
    box-sizing: border-box;
}

a.button:hover {
    background-color: transparent;
    color: #47ea4e;
}

a.button-dot {
    color: #fff !important;
    font-size: 16px;
    position: relative;
}

a.button-dot:hover {
    color: #fff;
}

a.button-dot span {
    transition: 0.3s;
    display: inline-block;
    margin-left: 50px;
    letter-spacing: 2px;
}

a.button-dot:hover span {
    transform: translateX(-8px);
}

a.button-dot:before {
    content: '';
    width: 30px;
    height: 30px;
    border: 2px solid #fff;
    background: transparent;
    border-radius: 90%;
    top: -7px;
    position: absolute;
    transition: 0.3s;
}

a.button-dot:hover:before {
    width: calc(100% + 30px);
    height: 51px;
    border-radius: 50px;
    top: -18px;
}
